@font-face {
  font-family: "Roboto-Black";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "UniSansBold";
  font-display: swap;
  src: url("../fonts/UniSansBold.woff") format("woff"), url("../fonts/UniSansBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "UniSansRegular";
  font-display: swap;
  src: url("../fonts/UniSansRegular.woff") format("woff"), url("../fonts/UniSansRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*NULL*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background: url("../img/bg-header.jpg") top no-repeat;
}

.top-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

.top-header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.top-header__column_logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  text-align: center;
}

.top-header__logo {
  display: inline-block;
  position: relative;
  z-index: 5;
  bottom: 25px;
  width: 170px;
}

.top-header__logo img {
  max-width: 100%;
}

.top-header__logo__contacts {
  display: inline-block;
  z-index: 5;
}

.menu__list {
  display: grid;
  grid-template-columns: 110px 120px 150px;
}

.menu__list li {
  margin: 1px 0;
}

.menu__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 27px;
  text-decoration: underline;
  font-size: 18px;
  color: #fff;
  padding: 0 22px;
}

.icon-menu {
  display: none;
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-header__column {
  padding: 0 30px;
}

.contacts-header__item_icon {
  background: url("../img/icons/header/phone.png") left no-repeat;
  padding: 0 0 0 37px;
}

.contacts-header__label {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  margin: 0 0 5px 0;
}

.contacts-header__phone {
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  white-space: nowrap;
}

.bottom-header__row {
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% 95px);
          flex: 0 1 calc(50% 95px);
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-header li {
  margin: 0px 54px 0px 0px;
}

.actions-header li:last-child {
  margin: 0;
}

.actions-header__item {
  padding: 0 0 0 36px;
  display: inline-block;
  line-height: 24px;
  color: #000000;
}

.actions-header__item span {
  border-bottom: 1px dotted #000;
}

.actions-header__item_login {
  background: url("../img/icons/header/enter.png") left no-repeat;
}

.actions-header__item_reg {
  background: url("../img/icons/header/login.png") left no-repeat;
}

.actions-header__item_email {
  background: url("../img/icons/header/email.png") left no-repeat;
}

.actions-header__item_email span {
  border-bottom: 1px solid;
}

.info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-header__column {
  padding: 0px 54px 0px 0px;
}

.info-header__column:last-child {
  padding: 0;
}

.info-header__callback {
  padding: 0 0 0 32px;
  background: url("../img/icons/header/callback.png") left no-repeat;
  display: inline-block;
  line-height: 24px;
  color: #068292;
  white-space: nowrap;
}

.info-header__schedule {
  padding: 0 0 0 37px;
  background: url("../img/icons/header/schedule.png") left no-repeat;
  display: inline-block;
  line-height: 24px;
  font-size: 12px;
  color: #999999;
}

.info-header__schedule span {
  font-weight: 900;
}

.info-header__cart {
  width: 48px;
  height: 48px;
  display: inline-block;
  background: url("../img/icons/header/cart.png") 0 10px no-repeat;
  position: relative;
}

.info-header__cart span {
  padding: 0 11px;
  border-radius: 18px;
  line-height: 18px;
  background-color: #f68038;
  position: absolute;
  right: 0;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  -webkit-transform: translate(30%, 0px);
      -ms-transform: translate(30%, 0px);
          transform: translate(30%, 0px);
}

@media (min-width: 767.98px) {
  .top-header__column_logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 25px 0 0 0;
  }
}

@media (min-width: 991.98px) {
  .menu__link {
    padding: 0;
    font-size: 20px;
  }

  .menu__link:hover {
    border-radius: 20px;
    background-color: #068292;
  }

  .contacts-header__column {
    border-left: 1px solid #fff;
  }

  .contacts-header__column:first-child {
    border: 0;
  }

  .actions-header__item:hover {
    color: #068292;
  }
}

@media (min-width: 1152px) {
  .actions-header__item {
    padding: 0 0 0 30px;
  }
}

@media (max-width: 1152px) {
  .menu__list {
    grid-template-columns: 90px 110px 150px;
  }

  .menu__link {
    padding: 5px 15px;
  }

  .contacts-header__column {
    padding: 0 15px;
  }

  .contacts-header__item_icon {
    padding: 0 0 0 25px;
    background-size: 20px;
  }

  .contacts-header__phone {
    font-size: 16px;
  }

  .bottom-header__row {
    padding: 0 10px;
  }

  .actions-header__item {
    padding: 0 0 0 30px;
  }

  .info-header__callback {
    background: none;
    padding: 0;
  }

  .info-header__schedule {
    background: none;
    padding: 0;
  }

  .info-header__cart span {
    right: 10px;
  }
}

@media (max-width: 1140px) {
  .actions-header li {
    margin: 0px 4.73684vw 0px 0px;
  }
}

@media (max-width: 991.98px) {
  .menu__body {
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 2;
    padding: 120px 20px 30px 20px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .menu__body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 105px;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #17abbe;
  }

  .menu__body._active {
    opacity: 1;
    visibility: visible;
  }

  .menu__body.lock {
    overflow: hidden;
  }

  .menu__list {
    display: block;
  }

  .menu__list li {
    margin: 0 0 20px 0;
  }

  .menu__link {
    padding: 0;
    font-size: 20px;
    color: #000;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .contacts-header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .contacts-header__item_second-phone {
    display: none;
  }

  .bottom-header__row {
    padding: 0;
  }

  .actions-header__item {
    padding: 0;
    background: none;
  }

  .info-header__schedule {
    display: none;
  }
}

@media (max-width: 991.98px) and (max-width: 767.98px) {
  .menu__body {
    padding: 90px 20px 30px 20px;
  }

  .menu__body::before {
    height: 70px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    padding: 0 10px;
  }

  .header {
    background: url("../img/bg-header.jpg") 0 -20px no-repeat;
  }

  .top-header__content {
    height: 70px;
  }

  .top-header__column_logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
  }

  .top-header__logo {
    bottom: 0px;
    width: 100px;
  }

  .top-header__logo img {
    max-width: 100%;
  }
}

@media (max-width: 640px) {
  .contacts-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts-header__column {
    padding: 0;
  }

  .contacts-header__item_icon {
    padding: 0;
    background: none;
  }

  .contacts-header__label {
    display: none;
  }

  .contacts-header__phone {
    background: url("../img/icons/header/phone.png") left no-repeat;
    width: 24px;
    height: 24px;
    font-size: 0;
    display: block;
    margin: 0 20px 0 0;
  }

  .actions-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 15px 0;
  }
}

.webp .header { background: url(../img/bg-header.webp) top no-repeat; }

.webp .contacts-header__item_icon { background: url(../img/icons/header/phone.webp) left no-repeat; }

.webp .actions-header__item_login { background: url(../img/icons/header/enter.webp) left no-repeat; }

.webp .actions-header__item_reg { background: url(../img/icons/header/login.webp) left no-repeat; }

.webp .actions-header__item_email { background: url(../img/icons/header/email.webp) left no-repeat; }

.webp .info-header__callback { background: url(../img/icons/header/callback.webp) left no-repeat; }

.webp .info-header__schedule { background: url(../img/icons/header/schedule.webp) left no-repeat; }

.webp .info-header__cart { background: url(../img/icons/header/cart.webp) 0 10px no-repeat; }

@media (max-width: 767.98px) {

  .webp .header { background: url(../img/bg-header.webp) 0 -20px no-repeat; }
}

@media (max-width: 640px) {

  .webp .contacts-header__phone { background: url(../img/icons/header/phone.webp) left no-repeat; }
}