@font-face {
  font-family: "Roboto-Black";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "UniSansBold";
  font-display: swap;
  src: url("../fonts/UniSansBold.woff") format("woff"), url("../fonts/UniSansBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "UniSansRegular";
  font-display: swap;
  src: url("../fonts/UniSansRegular.woff") format("woff"), url("../fonts/UniSansRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*NULL*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background: url("../img/bg-header.jpg") top no-repeat;
}

.top-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

.top-header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.top-header__column_logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 190px;
          flex: 0 0 190px;
  padding: 25px 0 0 0;
  text-align: center;
}

.menu__list {
  display: grid;
  grid-template-columns: 110px 120px 150px;
}

.menu__list li {
  margin: 1px 0;
}

.menu__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 27px;
  text-decoration: underline;
  font-size: 18px;
  color: #fff;
  padding: 0 22px;
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-header__column {
  padding: 0 30px;
  border-right: 1px solid #fff;
}

.contacts-header__column:last-child {
  border: 0;
}

.contacts-header__item_icon {
  background: url("../img/icons/header/phone.png") left no-repeat;
  padding: 0 0 0 37px;
}

.contacts-header__label {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  margin: 0 0 5px 0;
}

.contacts-header__phone {
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  white-space: nowrap;
}

.bottom-header__container {
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% 95px);
          flex: 0 1 calc(50% 95px);
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-header li {
  margin: 0px 54px 0px 0px;
}

.actions-header__item {
  padding: 0 0 0 36px;
  display: inline-block;
  line-height: 24px;
  color: #000000;
}

.actions-header__item span {
  border-bottom: 1px dotted #000;
}

.actions-header__item_login {
  background: url("../img/icons/header/enter.png") left no-repeat;
}

.actions-header__item_reg {
  background: url("../img/icons/header/login.png") left no-repeat;
}

.actions-header__item_email {
  background: url("../img/icons/header/email.png") left no-repeat;
}

.actions-header__item_email span {
  border-bottom: 1px solid;
}

.info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-header__column {
  padding: 0px 54px 0px 0px;
  /*@media (max-width: $maxWidthContainer+px) {
            margin: 0px 30 / $maxWidthContainer * 100vw 0px 0px;
        }*/
}

.info-header__column:last-child {
  padding: 0;
}

.info-header__callback {
  padding: 0 0 0 32px;
  background: url("../img/icons/header/callback.png") left no-repeat;
  display: inline-block;
  line-height: 24px;
}

.info-header__schedule {
  padding: 0 0 0 37px;
  background: url("../img/icons/header/schedule.png") left no-repeat;
  display: inline-block;
  line-height: 24px;
  font-size: 12px;
  color: #999999;
}

.info-header__schedule span {
  font-weight: 900;
}

.info-header__cart {
  width: 48px;
  height: 48px;
  display: inline-block;
  background: url("../img/icons/header/cart.png") 0 10px no-repeat;
  position: relative;
}

.info-header__cart span {
  padding: 0 11px;
  border-radius: 20px;
  line-height: 20px;
  background-color: #f68038;
  position: absolute;
  right: 0;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  -webkit-transform: translate(30%, 0px);
      -ms-transform: translate(30%, 0px);
          transform: translate(30%, 0px);
}

@media (min-width: 991.98px) {
  .menu__link:hover {
    border-radius: 20px;
    background-color: #068292;
  }

  .actions-header__item:hover {
    color: #068292;
  }
}

@media (max-width: 1152px) {
  .menu__link {
    padding: 5px 15px;
  }

  .contacts-header__column {
    padding: 0 15px;
  }

  .contacts-header__item_icon {
    padding: 0 0 0 25px;
    background-size: 20px;
  }

  .contacts-header__phone {
    font-size: 16px;
  }

  .actions-header__item {
    padding: 0 0 0 30px;
  }

  .info-header__callback {
    background: none;
    padding: 0;
  }

  .info-header__schedule {
    background: none;
    padding: 0;
  }

  .info-header__cart span {
    right: 10px;
  }
}

@media (max-width: 1140px) {
  .actions-header li {
    margin: 0px 4.73684vw 0px 0px;
  }
}

.webp .header { background: url(../img/bg-header.webp) top no-repeat; }

.webp .contacts-header__item_icon { background: url(../img/icons/header/phone.webp) left no-repeat; }

.webp .actions-header__item_login { background: url(../img/icons/header/enter.webp) left no-repeat; }

.webp .actions-header__item_reg { background: url(../img/icons/header/login.webp) left no-repeat; }

.webp .actions-header__item_email { background: url(../img/icons/header/email.webp) left no-repeat; }

.webp .info-header__callback { background: url(../img/icons/header/callback.webp) left no-repeat; }

.webp .info-header__schedule { background: url(../img/icons/header/schedule.webp) left no-repeat; }

.webp .info-header__cart { background: url(../img/icons/header/cart.webp) 0 10px no-repeat; }